<div class="page-container" xmlns="http://www.w3.org/1999/html">
  <div class="section">
    <div class="table-container">

      <!-- search -->
      <div style="margin-bottom: 20px; display: flex; align-items: center; justify-content: space-between;">
        <mat-form-field style="width: 30vh; margin: 0;" appearance="outline" class="search-field">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Enter search term">
        </mat-form-field>

        <!-- buttons on the top -->
        <div style="text-align: center; display: flex; gap: 10px; flex-grow: 1; justify-content: center;">
          <button mat-raised-button
                  [disabled]="isDistributionButtonDisabled"
                  [style.background-color]="isDistributionButtonDisabled ? '#d6d6d6' : '#4caf50'"
                  [style.color]="isDistributionButtonDisabled ? '#9e9e9e' : 'white'"
                  style="padding: 10px 20px;">
            Raspodela
          </button>
        </div>
        <div style="text-align: center; display: flex; gap: 10px;">
          <button mat-raised-button color="primary" (click)="showTeachers()"
                  style="background-color: #007bff; color: white; padding: 10px 20px;">
            Prikaži Nastavnike
          </button>
          <button mat-raised-button color="primary" (click)="showSubjects()"
                  style="background-color: #0056b3; color: white; padding: 10px 20px;">
            Prikaži Predmete
          </button>
        </div>
      </div>

      <!-- Table -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 compact-table">

        <!-- Dinamic columns  -->
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef> {{ columnNamesMap[column] }} </th>
          <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
        </ng-container>

        <!-- Header & Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
      </table>

      <div *ngIf="!isDistributionButtonDisabled && summaryRows == 2" class="custom-summary-rows">
        <div class="summary-row">
          <span class="label">Ukupno termina predavanja:</span>
          <span class="value">{{ totalLectures }}</span>
          <span class="label">Ukupno termina vežbi:</span>
          <span class="value">{{ totalExercises }}</span>
        </div>
      </div>
      <div *ngIf="!isDistributionButtonDisabled && summaryRows == 1" class="custom-summary-rows">
        <div class="summary-title">
          Osnovne studije
        </div>
      </div>
      <div *ngIf="!isDistributionButtonDisabled && summaryRows == 1" class="custom-summary-rows">
        <div class="summary-row">
          <span class="label">Nedeljno časova neparni (P)</span>
          <span class="value">{{ weeklyLecturesO }}</span>
          <span class="label">Nedeljno časova parni (P)</span>
          <span class="value">{{ weeklyLecturesE }}</span>
          <span class="label">Ukupan fond (P)</span>
          <span class="value">{{ totalLectures }}</span>
        </div>
        <div class="summary-row">
          <span class="label">Nedeljno časova neparni (V)</span>
          <span class="value">{{ weeklyExercisesO }}</span>
          <span class="label">Nedeljno časova parni (V)</span>
          <span class="value">{{ weeklyExercisesE }}</span>
          <span class="label">Ukupan fond (V)</span>
          <span class="value">{{ totalExercises }}</span>
        </div>
      </div>
      <div *ngIf="!isDistributionButtonDisabled && summaryRows == 1" class="custom-summary-rows">
        <div class="summary-title-row">
          <div class="summary-title">
            Postdiplomske studije
          </div>
          <button (click)="refresh()" class="refresh-button">🔄</button>

          <!-- Dugme koje otvara MENU -->
          <button
            mat-raised-button
            class="add-btn"
            [matMenuTriggerFor]="activityMenu">
            Dodaj aktivnost
          </button>

          <!-- MENU -->
          <mat-menu #activityMenu="matMenu">

            <button
              mat-menu-item
              data-bs-toggle="modal"
              data-bs-target="#addMasterActivityModal">
              Dodatni časovi
            </button>

            <button
              mat-menu-item
              data-bs-toggle="modal"
              data-bs-target="#addDoctoralActivityModal">
              Komisija/Mentorstvo
            </button>

            <button
              mat-menu-item
              data-bs-toggle="modal"
              data-bs-target="#addOtherActivityModal">
              Ostale aktivnosti
            </button>

          </mat-menu>
        </div>

      </div>
      <div *ngIf="!isDistributionButtonDisabled && summaryRows == 1" class="custom-summary-rows">
        <div class="summary-row" (click)="openMasterModal()" style="cursor: pointer;">
          <span class="label">Dodatni časovi na master studijama</span>
          <span class="value">{{ extraMasterClasses }}</span>
        </div>
        <div class="summary-row" (click)="openDoctoralModal()" style="cursor: pointer;">
          <span class="label">Dodatni časovi na doktorskim studijama</span>
          <span class="value">{{ extraDoctoralClasses }}</span>
        </div>
        <div class="summary-row" (click)="openMentorCommissionModal()" style="cursor: pointer;">
          <span class="label">Mentorstvo/Komisija</span>
          <span class="value">{{ mentorCommissionInfo }}</span>
        </div>
      </div>
      <!-- Paginator -->
<!--      <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px;">-->

<!--        <button mat-button [matMenuTriggerFor]="exportMenu" color="primary">Export</button>-->

      <app-master-class-modal #masterModal></app-master-class-modal>

      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>

        <!-- Export Dropdown -->
<!--        <mat-menu #exportMenu="matMenu">-->
<!--          <button mat-menu-item [matMenuTriggerFor]="exportJsonMenu">Export to JSON</button>-->
<!--          <button mat-menu-item [matMenuTriggerFor]="exportPdfMenu">Export to PDF</button>-->
<!--        </mat-menu>-->

        <!-- JSON Export Menu -->
<!--        <mat-menu #exportJsonMenu="matMenu">-->
<!--          <button mat-menu-item (click)="exportData('teachers', 'json')">Exportuj Nastavnike</button>-->
<!--          <button mat-menu-item (click)="exportData('subjects', 'json')">Exportuj Predmete</button>-->
<!--          <button mat-menu-item (click)="exportData('distributions', 'json')">Exportuj Raspodelu</button>-->
<!--        </mat-menu>-->

        <!-- PDF Export Menu -->
<!--        <mat-menu #exportPdfMenu="matMenu">-->
<!--          <button mat-menu-item (click)="exportData('teachers', 'pdf')">Exportuj Nastavnike</button>-->
<!--          <button mat-menu-item (click)="exportData('subjects', 'pdf')">Exportuj Predmete</button>-->
<!--        </mat-menu>-->

<!--      </div>-->
    </div>
  </div>
</div>


<!--Master modal-->
<!-- MASTER MODAL -->
<div
  class="modal fade"
  id="addMasterActivityModal"
  tabindex="-1"
  aria-labelledby="addMasterActivityModalLabel"
  aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <!-- HEADER -->
      <div class="modal-header">
        <h5 class="modal-title" id="addMasterActivityModalLabel">
          Dodaj postakademsu aktivnost
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>

      <!-- BODY -->
      <div class="modal-body">
        <form>

          <div class="mb-3">
            <label for="studyLevel" class="form-label">
              Nivo studija
            </label>

            <select
              id="studyLevel"
              class="form-control"
              [(ngModel)]="postAcademicActivity.selectedLevel"
              name="studyLevel">

              <option value="" disabled>Izaberite nivo studija</option>
              <option value="master">Master studije</option>
              <option value="doktorat">Doktorske studije</option>
            </select>
          </div>


          <!-- PREDMET -->
          <div class="mb-3">
            <label for="masterSubject" class="form-label">
              Naziv predmeta
            </label>
            <input
              type="text"
              id="masterSubject"
              class="form-control"
              [(ngModel)]="postAcademicActivity.subject"
              (input)="filterSubjects()"
              (focus)="onSubjectFocus()"
              name="studentName">

            <ul
              *ngIf="showDropdown"
              class="list-group position-absolute w-100"
              style="
              z-index: 1000;
              max-height: 200px;
              overflow-y: auto;
            ">

              <li
                *ngFor="let s of filteredSubjects"
                class="list-group-item list-group-item-action"
                style="cursor: pointer;"
                (mousedown)="selectSubject(s)">
                {{ s.name }}
              </li>

            </ul>

          </div>


          <!-- BROJ ČASOVA -->
          <div class="mb-3">
            <label for="masterHours" class="form-label">
              Održano časova
            </label>
            <input
              type="number"
              id="masterHours"
              class="form-control"
              [(ngModel)]="postAcademicActivity.hoursHeld"
              name="masterHours"
              min="0">
          </div>

          <div class="mb-3">
            <label for="masterDate" class="form-label">
              Datum održavanja časova
            </label>
            <input
              type="date"
              id="masterDate"
              class="form-control"
              [(ngModel)]="postAcademicActivity.masterDate"
              name="masterDate"
              min="0">
          </div>

          <div class="mb-3">
            <label for="noteStudies" class="form-label">
              Napomena
            </label>
            <textarea
              rows="3"
              cols="50"
              id="noteStudies"
              class="form-control"
              [(ngModel)] = "postAcademicActivity.note"
              name = "noteStudies"
              placeholder="Dodati napomenu"
            >
            </textarea>
          </div>

        </form>
      </div>

      <!-- FOOTER -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal">
          Zatvori
        </button>

        <button
          type="button"
          class="btn btn-primary"
          (click)="saveMasterActivity()">
          Sačuvaj
        </button>
      </div>

    </div>
  </div>
</div>


<div
  class="modal fade"
  id="addOtherActivityModal"
  tabindex="-1"
  aria-labelledby="addOtherActivityModalLabel"
  aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <!-- HEADER -->
      <div class="modal-header">
        <h5 class="modal-title" id="addOtherActivityModalLabel">
          Unesi dodatnu aktivnost
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>

      <!-- BODY -->
      <div class="modal-body">
        <form>

          <!-- PREDMET -->
          <div class="mb-3 position-relative">
            <label for="otherActivitySubject" class="form-label">
              Naziv predmeta
            </label>

            <!-- INPUT (JEDAN) -->
            <input
              type="text"
              id="otherActivitySubject"
              class="form-control"
              placeholder="Izaberi predmet"
              [(ngModel)]="otherAcademicActivity.subject"
              name="subject"
              autocomplete="off">

            <!-- DROPDOWN (OVDE IDE ngFor) -->
          </div>



          <!-- BROJ ČASOVA -->
          <div class="mb-3">
            <label for="otherActivityHours" class="form-label">
              Održano časova
            </label>
            <input
              type="number"
              id="otherActivityHours"
              class="form-control"
              [(ngModel)]="otherAcademicActivity.hoursHeld"
              name="academicHours"
              min="0">
          </div>

          <div class="mb-3">
            <label for="otherActivityDate" class="form-label">
              Datum održavanja časova
            </label>
            <input
              type="date"
              id="otherActivityDate"
              class="form-control"
              [(ngModel)]="otherAcademicActivity.masterDate"
              name="masterDate"
              min="0">
          </div>

          <div class="mb-3">
            <label for="otherActivityNoteStudies" class="form-label">
              Napomena
            </label>
            <textarea
              rows="3"
              cols="50"
              id="otherActivityNoteStudies"
              class="form-control"
              [(ngModel)] = "otherAcademicActivity.note"
              name = "noteStudies"
              placeholder="Dodati napomenu"
            >
            </textarea>
          </div>

        </form>
      </div>

      <!-- FOOTER -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="cancelOtherActivity()"
          data-bs-dismiss="modal">
          Zatvori
        </button>

        <button
          type="button"
          class="btn btn-primary"
          (click)="saveOtherAcademicActivity()">
          Sačuvaj
        </button>
      </div>

    </div>
  </div>
</div>


<!--Komisija/Mentor Modal-->
<div
  class="modal fade"
  id="addDoctoralActivityModal"
  tabindex="-1"
  aria-labelledby="addDoctoralActivityModalLabel"
  aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <!-- HEADER -->
      <div class="modal-header">
        <h5 class="modal-title" id="addDoctoralActivityModalLabel">
          Forma za komisiju/mentorstvo
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>

      <!-- BODY -->
      <div class="modal-body">
        <form>

          <!-- TIP ANGAŽMANA -->
          <div class="mb-3">
            <label for="engagementType" class="form-label">
              Tip angažmana
            </label>
            <select
              id="engagementType"
              class="form-select"
              [(ngModel)]="doctoralActivity.type"
              name="engagementType">

              <option value="" disabled selected>
                Izaberi tip
              </option>
              <option value="Mentorstvo">Mentorstvo</option>
              <option value="Komisija">Komisija</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="degree" class="form-label">
              Stepen studija
            </label>
            <select
              id="degree"
              class="form-select"
              [(ngModel)]="doctoralActivity.degree"
              name="degreeStudies">

              <option value="" disabled selected>
                Izabrati stepen
              </option>
              <option value="Diplomski rad">Osnovne studije - Diplomski rad</option>
              <option value="Master rad">Master studije - Master rad</option>
              <option value="Doktorski rad">Doktorske studije - Doktorski rad</option>
            </select>
          </div>

          <!-- IME STUDENTA -->
          <div class="mb-3">
            <label for="studentName" class="form-label">
              Ime studenta
            </label>
            <input
              type="text"
              id="studentName"
              class="form-control"
              [(ngModel)]="doctoralActivity.studentName"
              name="studentName">
          </div>

          <!-- TEMA -->
          <div class="mb-3">
            <label for="thesisTopic" class="form-label">
              Tema rada
            </label>
            <input
              type="text"
              id="thesisTopic"
              class="form-control"
              [(ngModel)]="doctoralActivity.topic"
              name="thesisTopic">
          </div>

          <div class="mb-3">
            <label for="noteForCommissionMentor" class="form-label">
              Napomena
            </label>
            <textarea
              rows="3"
              cols="50"
              id="noteForCommissionMentor"
              class="form-control"
              [(ngModel)] = "doctoralActivity.note"
              name = "noteStudies"
              placeholder="Dodati napomenu"
            >
            </textarea>
          </div>

        </form>
      </div>

      <!-- FOOTER -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal">
          Zatvori
        </button>

        <button
          type="button"
          class="btn btn-primary"
          (click)="saveCommissionMentorActivity()">
          Sačuvaj
        </button>
      </div>

    </div>
  </div>
</div>
