<div class="page-container">
  <div class="section">
    <div class="table-container">

      <!-- search -->
      <div style="margin-bottom: 20px; display: flex; align-items: center; justify-content: space-between;">
        <mat-form-field style="width: 30vh; margin: 0;" appearance="outline" class="search-field">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Enter search term">
        </mat-form-field>

        <div
          class="segmented"
          [ngClass]="{
              'winter': selected === 'WINTER',
              'summer': selected === 'SUMMER',
              'all': selected === 'ALL'
            }"
        >
          <button
            mat-button
            [class.active]="selected === 'ALL'"
            (click)="setSemester('ALL')"
          >
            Cela godina
          </button>

          <button
            mat-button
            [class.active]="selected === 'WINTER'"
            (click)="setSemester('WINTER')"
          >
            Zimski semestar
          </button>

          <button
            mat-button
            [class.active]="selected === 'SUMMER'"
            (click)="setSemester('SUMMER')"
          >
            Letnji semestar
          </button>
        </div>

        <div style="text-align: center; display: flex; gap: 10px;">



          <button mat-raised-button color="accent" (click) ="openAddSubjectModal()"
                  style="background-color: green; color: white; padding: 10px 20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
            Dodaj Predmet
          </button>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="addSubjectModal" tabindex="-1" aria-labelledby="addSubjectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addSubjectModalLabel">
                {{ createNewSubject ? 'Dodaj Novi Predmet' : 'Izmeni Predmet' }}
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="subjectForm">
                <div class="mb-3">
                  <label for="name" class="form-label">{{ columnNamesMap['name'] }}</label>
                  <input type="text" id="name" class="form-control" formControlName="name">
                </div>
<!--                checkbox for study program-->
                <label>
                  <input type="checkbox" (change)="changeVisibilityStudyProgram()">
                  Prikaži polje za unos novog studijskog programa
                </label>
                <div class="mb-3">
                  <div *ngIf="useStudyProgramDropdown; else studyProgramTemplate">
                    <input class="form-control styled-input" formControlName="studyProgram" placeholder="Unesite tekst">
                  </div>
                  <ng-template #studyProgramTemplate>
                    <select class="form-select" formControlName="studyProgram">
                      <option *ngFor="let studyProgram of studyPrograms" [value]="studyProgram">{{ studyProgram }}</option>
                    </select>
                  </ng-template>
                </div>
                <label for="mandatory">
                  Obavezni
                </label>
                <div class="mb-3">
                  <select id="mandatory" class="form-select" formControlName="mandatory">
                    <option *ngFor="let tmp of mandatory" [value]="tmp">{{ tmp }}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="semester" class="form-label">{{ columnNamesMap['semester'] }}</label>
                  <input type="number" id="semester" class="form-control" formControlName="semester">
                </div>
                <div class="mb-3">
                  <label for="lectureHours" class="form-label">{{ columnNamesMap['lectureHours'] }}</label>
                  <input type="number" id="lectureHours" class="form-control" formControlName="lectureHours">
                </div>
                <div class="mb-3">
                  <label for="exerciseHours" class="form-label">{{ columnNamesMap['exerciseHours'] }}</label>
                  <input type="number" id="exerciseHours" class="form-control" formControlName="exerciseHours">
                </div>
                <div class="mb-3">
                  <label for="practicumHours" class="form-label">{{ columnNamesMap['practicumHours'] }}</label>
                  <input type="number" id="practicumHours" class="form-control" formControlName="practicumHours">
                </div>
                <div class="mb-3">
                  <label for="lectureSessions" class="form-label">{{ columnNamesMap['lectureSessions'] }}</label>
                  <input type="number" id="lectureSessions" class="form-control" formControlName="lectureSessions">
                </div>
                <div class="mb-3">
                  <label for="exerciseSessions" class="form-label">{{ columnNamesMap['exerciseSessions'] }}</label>
                  <input type="number" id="exerciseSessions" class="form-control" formControlName="exerciseSessions">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
              <button type="button" class="btn btn-primary" (click)="submitSubject()">Sačuvaj</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Confirm Delete Modal -->
      <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmDeleteModalLabel">Potvrda brisanja</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Da li ste sigurni da želite da obrišete predmet <strong>{{subjectName}}</strong>?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkaži</button>
              <button type="button" class="btn btn-danger" (click)="deleteSubject()">Potvrdi</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Table -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 compact-table">

        <!-- Dinamic columns  -->
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef [class.text-center]="column ==='actions'"> {{ columnNamesMap[column] }} </th>
          <td mat-cell *matCellDef="let element" [class.text-center]="column === 'actions'">
            <ng-container *ngIf="column === 'actions'; else dataCell">
              <button class="btn btn-icon" title="Izmeni" (click) ="editSubject(element)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                </svg>
              </button>
              <button class="btn btn-icon text-danger ms-2" title = "Izbriši" (click) ="openDeleteModal(element)" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
              </button>
            </ng-container>
            <ng-template #dataCell>{{ element[column] }}</ng-template>
          </td>
        </ng-container>

        <!-- Header & Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Paginator -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
