<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/teachers">Profesori</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/subjects">Predmeti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/distribution">Raspodela</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="/standardUser">Nastavnik</a>-->
<!--        </li>-->
        <!-- Dugme za Export -->
        <li class="nav-item dropdown">
          <button class="nav-link btn btn-outline-primary dropdown-toggle" id="exportDropdown" data-bs-toggle="dropdown"
                  aria-expanded="false">
            Export
          </button>
          <ul class="dropdown-menu" aria-labelledby="exportDropdown">
            <li>
              <a class="dropdown-item" (click)="exportData('teachers', 'json')">Export Nastavnici (JSON)</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="exportData('subjects', 'json')">Export Predmeti (JSON)</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="exportData('distributions', 'json')">Export Raspodela (JSON)</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" (click)="exportData('teachers', 'pdf')">Export Nastavnici (PDF)</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="exportData('subjects', 'pdf')">Export Predmeti (PDF)</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="exportData('masterDoctoralClasses', 'pdf')">Export Postakademske (PDF)</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="exportData('mentorCommission', 'pdf')">Export Mentor/Komisija (PDF)</a>
            </li>
          </ul>
        </li>
        <!-- Dugme za Import -->
        <li class="nav-item">
          <label for="importFile" class="btn btn-outline-success nav-link" style="cursor: pointer;">
            Import Raspodela
          </label>
          <input type="file" id="importFile" accept=".json" (change)="onFileSelected($event)" hidden>
        </li>
      </ul>

      <!--   Gde cu da postavim aktivnu godinu  -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <button
            class="nav-link btn btn-outline-success fw-bold dropdown-toggle"
            id="schoolYearDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            [ngClass]="{'active-year': isActiveYear(), 'inactive-year': !isActiveYear()}"
          >
            {{ activeYear }}
          </button>


          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="schoolYearDropdown">

            <!-- Lista postojećih godina -->
            <li *ngFor="let year of schoolYears" class="year-item">
              <div class="d-flex align-items-center position-relative">

                <button
                  class="dropdown-item flex-grow-1 text-start"
                  (click)="selectSchoolYear(year)"
                  [ngClass]="{'active-year': year.active, 'inactive-year': !year.active}"
                >
                  {{ year.label }}
                </button>

                <button
                  *ngIf="!year.active"
                  class="btn btn-link btn-sm activate-btn"
                  title="Postavi kao aktivnu godinu"
                  (click)="openActivateModal(year); $event.stopPropagation()"
                >
                  +
                </button>

              </div>
            </li>



            <li><hr class="dropdown-divider"></li>



            <!-- Nova školska godina -->
            <li>
              <button
                class="dropdown-item text-success fw-bold"
                (click)="openCreateSchoolYear()"
              >
                + Nova školska godina
              </button>
            </li>

          </ul>
        </li>
      </ul>



      <!-- Modal -->
      <div class="modal fade" id="schoolYearModal" tabindex="-1" aria-labelledby="schoolYearModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="schoolYearModalLabel">
                {{createNewSchoolYear ? 'Dodaj Novu Školsku Godinu' : 'Izmeni Školsku Godinu'}}
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="schoolYearForm">
                <div class="mb-3">
                  <label for="yearLabel" class="form-label">Oznaka</label>
                  <input type="text" id="yearLabel" class="form-control" formControlName="label" placeholder="npr. 2026/2027">

                  <div *ngIf="schoolYearForm.get('label')?.invalid && schoolYearForm.get('label')?.touched" class="text-danger">
                    Oznaka godine je obavezna i mora biti u formatu 'yyyy/yyyy'
                  </div>

                </div>

                <div class="mb-3">
                  <label for="startDate" class="form-label">Datum početka</label>
                  <input type="date" id="startDate" class="form-control" formControlName="startDate">

                  <div *ngIf="schoolYearForm.get('startDate')?.invalid && schoolYearForm.get('startDate')?.touched" class="text-danger">
                    Pocetak godine je obavezan
                  </div>

                </div>

                <div class="mb-3">
                  <label for="endDate" class="form-label">Datum završetka</label>
                  <input type="date" id="endDate" class="form-control" formControlName="endDate">

                  <div *ngIf="schoolYearForm.get('endDate')?.invalid && schoolYearForm.get('endDate')?.touched" class="text-danger">
                    Zavrsetak godine je obavezan
                  </div>

                </div>


                <!-- Dropdown za kopiranje raspodele -->
                <div class="mb-3">
                  <label for="copyFromYear" class="form-label">Kopiraj raspodelu od prethodnih godina ili dodaj praznu</label>
                  <select id="copyFromYear" class="form-select" formControlName="copyFromYear">
                    <option [value]="null" selected>Dodaj praznu godinu</option>
                    <option *ngFor="let year of schoolYears" [value]="year.id">{{ year.label }}</option>
                  </select>
                </div>


                <div class="form-check mb-3">
                  <input type="checkbox" id="active" class="form-check-input" formControlName="active">
                  <label for="active" class="form-check-label">
                    Označi {{ schoolYearForm.get('label')?.value || '____/____' }} kao aktivnu godinu
                  </label>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
              <button type="button" class="btn btn-primary" (click)="submitSchoolYear()">Napravi godinu</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Dugme za logout -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="nav-link btn btn-danger" (click)="onLogout()" style="font-weight: bold;">Logout dugme</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Activate School Year Modal -->
<div
  class="modal fade"
  id="activateYearModal"
  tabindex="-1"
  aria-labelledby="activateYearModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="activateYearModalLabel">
          Aktivacija godine
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        <p>
          Da li ste sigurni da želite da postavite školsku godinu
          <strong>{{ selectedYear?.label }}</strong>
          kao aktivnu?
        </p>
      </div>

      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          data-bs-dismiss="modal"
        >
          Otkaži
        </button>

        <button
          type="button"
          class="btn btn-success btn-sm"
          (click)="confirmActivateYear()"
        >
          Potvrdi
        </button>
      </div>

    </div>
  </div>
</div>


<!-- Modal: Export & Remove Year -->
<div class="modal fade" id="exportRemoveYearModal" tabindex="-1" aria-labelledby="exportRemoveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exportRemoveModalLabel">Dosegnut maksimalan broj godina</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Izaberite školsku godinu koju želite da uklonite. Pre uklanjanja, preporučujemo da eksportujete raspodelu.</p>
        <ul class="list-group">
          <li *ngFor="let year of schoolYears" class="list-group-item d-flex justify-content-between align-items-center">
            {{ year.label }}
            <button class="btn btn-sm btn-success" (click)="exportAndRemoveYear(year)">Export & Remove</button>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
      </div>
    </div>
  </div>
</div>

