<div class="modal fade" id="masterModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Master aktivnosti</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <!-- Tabela aktivnosti -->
        <table class="table table-striped" *ngIf="masterClasses.length">
          <thead>
          <tr>
            <th>Predmet</th>
            <th>Broj časova</th>
            <th>Datum održavanja</th>
            <th>Datum unosa</th>
            <th>Napomena</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let mc of masterClasses">
            <td>{{ mc.predmetNaPostakademskimStudijama }}</td>
            <td>{{ mc.odrzanoCasova }}</td>
            <td>{{ mc.datumOdrzavanjaCasova }}</td>
            <td>{{ mc.datumUnosa | date:'short' }}</td>
            <td>{{mc.napomena}}</td>
          </tr>
          </tbody>
        </table>

        <!-- Ukupan broj časova -->
        <div
          class="d-flex justify-content-end mt-3"
          *ngIf="masterClasses.length"
        >
          <strong>
            Ukupan broj časova: {{totalCount}}
          </strong>
        </div>


        <!-- Ako nema unosa -->
        <div *ngIf="masterClasses.length === 0" class="text-center text-muted">
          Nema dodatnih časova na master studijama.
        </div>

      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="doctoralModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Doktorske aktivnosti</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <!-- Tabela aktivnosti -->
        <table class="table table-striped" *ngIf="masterClasses.length">
          <thead>
          <tr>
            <th>Predmet</th>
            <th>Broj časova</th>
            <th>Datum održavanja</th>
            <th>Datum unosa</th>
            <th>Napomena</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let mc of masterClasses">
            <td>{{ mc.predmetNaPostakademskimStudijama }}</td>
            <td>{{ mc.odrzanoCasova }}</td>
            <td>{{ mc.datumOdrzavanjaCasova }}</td>
            <td>{{ mc.datumUnosa | date:'short' }}</td>
            <td>{{mc.napomena}}</td>
          </tr>
          </tbody>
        </table>

        <!-- Ukupan broj časova -->
        <div
          class="d-flex justify-content-end mt-3"
          *ngIf="masterClasses.length"
        >
          <strong>
            Ukupan broj časova: {{totalCount}}
          </strong>
        </div>


        <!-- Ako nema unosa -->
        <div *ngIf="masterClasses.length === 0" class="text-center text-muted">
          Nema dodatnih časova na master studijama.
        </div>

      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="mentorCommissionModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Mentorstvo/Komisija</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <!-- Tabela aktivnosti -->
        <table class="table table-striped" *ngIf="mentorCommissionClasses.length">
          <thead>
          <tr>
            <th>Tip angazmana</th>
            <th>Stepen studija</th>
            <th>Ime studenta</th>
            <th>Tema rada</th>
            <th>Datum unosa</th>
            <th>Napomena</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let mc of mentorCommissionClasses">
            <td>{{ mc.tip_angazmana }}</td>
            <td>{{ mc.stepenStudija }}</td>
            <td>{{ mc.imeStudenta }}</td>
            <td>{{ mc.temaRada }}</td>
            <td>{{ mc.datumUnosa | date:'dd.MM.yyyy' }}</td>
            <td>{{mc.napomena}}</td>
          </tr>
          </tbody>
        </table>



        <!-- Ako nema unosa -->
        <div *ngIf="mentorCommissionClasses.length === 0" class="text-center text-muted">
          Nema dodatnih aktivnosti na mentorstvu/komisiji
        </div>

      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="otherActivitiesModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Ostale aktivnosti</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <table class="table table-striped" *ngIf="otherActivities.length">
          <thead>
          <tr>
            <th>Aktivnost</th>
            <th>Broj časova</th>
            <th>Datum održavanja</th>
            <th>Datum unosa</th>
            <th>Napomena</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let activity of otherActivities">
            <td>{{ activity.predmetNaPostakademskimStudijama }}</td>
            <td>{{ activity.odrzanoCasova }}</td>
            <td>{{ activity.datumOdrzavanjaCasova | date:'dd.MM.yyyy' }}</td>
            <td>{{ activity.datumUnosa | date:'dd.MM.yyyy' }}</td>
            <td>{{ activity.napomena }}</td>
          </tr>
          </tbody>
        </table>

        <div *ngIf="otherActivities.length === 0" class="text-center text-muted">
          Nema ostalih aktivnosti
        </div>

      </div>

    </div>
  </div>
</div>
